// Brand Colors
$primary: #0074b5;
$info: #0f4c83;
$success: #31a34f;
$warning: #eec854;
$error: #c6291c;
$black-1: #323238;
$black-2: #3c3c45;
$black-3: #434346;
$white: #ffffff;
$gray-1: #3e4c64;
$gray-2: #4d5563;
$gray-3: #69696a;
$gray-4: #ebebeb;
$gray-5: #f9f9f9;

// Element Colors
$background: #f9f9f9;
$text: #363638;
$light-gray: #e7e7e7;
$search-highlight: #1d75c3;
$search-bar: #fcfcfc;
$search-bar-border: #f3f3f3;
$navbar-link: #8d8c8a;
$modal-title: #323238;

// Dark Mode
$primary-dark: #2285bc;
$dark1: #252525;
$dark2: #1e1e1e;
$dark3: #303030;
$body-dark: #cfcfcf;

// Spacing
$padding-md: 8px;
$padding-lg: 16px;

// Default
$border-radius: 10px;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.39);
