flask==2.2.2
gunicorn==20.1.0
pytest==7.2.0
snapshottest==0.6.0
black==22.12.0
pylint==2.15.9
flask-cors==3.0.10
pytest-sugar==0.9.6
pytest-timeout==2.1.0
pytest-reverse==1.5.0
requests==2.28.1
google-cloud-logging==3.4.0
